.register{
    width: 30vw;
    border: 1px solid black;
    border-radius: 2rem;
    height: 125vh;
}
.login{
    margin-top: 10vh;
     width: 30vw;
    border: 1px solid black;
    border-radius: 2rem;
    height: 60vh;
    text-align: center;
}